@import "normalize";
@import "partials/variables";
@import "bourbon";
@import "neat";
@import "partials/typography";
@import "partials/layout";



#page_header {

  .branding {

    font-size: modular-scale($base-font-size, .7, $type-of-scale);
    // font-size: golden-ratio(8px,  1);
    font-family: $sans_serif;

    a {
      text-align: center !important;
    }

    img {
      display: block;
      float: left;

    }

  }

  .tagline {
    text-align: right;

    padding-top: rem(50px);

    h5 {

      // font-size: golden-ratio(11px,  1);
      margin: 0;
      line-height: 1;
    }

    h6 {
      // font-size: golden-ratio(9px,  1);
      margin: 0;
      line-height: 1;
    }

    p {
      // font-size: golden-ratio(8px,  1);
      line-height: 1;
    }

  }

}


#page_body {

  .galltery_item {

    background: $grey-light;

    p,
    .date {
      font-family: $sans_serif;
      color: $grey;
    }

    .media {
      display: block;
      float: left;
    }

    img {
      display: block;
      float: left;
      width: auto;
    }

  }


}




#page_footer {

  border-top: 1px solid $grey-light;
  border-bottom: 20px solid $grey-darker;

  padding-top: rem(20px);
  padding-bottom: rem(20px);

  .page_footer_contact {
    text-align: left;

    h5 {
      // font-size: golden-ratio(11px,  1);
      margin: 0;
      line-height: 1;
    }

    h6 {
      // font-size: golden-ratio(9px,  1);
      margin: rem(5px) 0 rem(10px) 0;
      line-height: 1;
    }

    p {
      // font-size: golden-ratio(8px,  1);
      line-height: 1;
    }

  }

}
