//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) 	!default; // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest:          lighten($gray-base, 95%) !default;

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$white: 				#fff !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $gray-lighter;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


// Overrides Neat's default
$max-width: em(1024);


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif-heavy:  Helvetica, Arial, sans-serif !default;
$font-family-sans-serif:        Helvetica, Arial, sans-serif !default;
$font-family-serif:             Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:         "Menlo", "Monaco", "Consolas", "Courier New", monospace !default;
$font-family-base:              $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-larger:        ceil(($font-size-base * 1.5)) !default; // ~
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
$font-size-smaller:       ceil(($font-size-base * 0.5)) !default; // ~

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

// //** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
// //** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px


$column: 100px;
$gutter: 10px;
$grid-columns: 12;
$max-width: 1100px;

$first-breakpoint-value: 400px;
$second-breakpoint-value: 835px;
$third-breakpoint-value: 1100px;

// Covers 0-399px wide screen size. 2 column grid
$small-screen: new-breakpoint(max-width em($first-breakpoint-value — 1) 2);

// Covers 400-835px wide screen size. 4 column grid
$medium-screen: new-breakpoint(min-width em($first-breakpoint-value) max-width em($second-breakpoint-value) 4);

// Covers 836-1099px wide screen size. 8 column grid
$large-screen: new-breakpoint(min-width em($second-breakpoint-value + 1) max-width em($third-breakpoint-value — 1) 8);

// Covers 1100px and up wide screen size. 12 column grid (default grid size)
$xl-screen: new-breakpoint(min-width em($third-breakpoint-value));
