/*
*
* Media
********************/

.media {
  width: 100%;
  background: $gray-darker;
}


.featured-image {
  border: 5px solid $gray-lighter;
}

// image large  aspect_16x9


/* Media
********************/
