html {
	/*border-top: 40px solid black;*/
	background-color: #e6e6e6;
	font-weight     : normal;
}

body {
	width      : 100vw;
	margin     : 0;
	font-family: sans-serif;
	line-height: 1.55em;
	font-size  : 16px;
}

p {
	line-height: 1.55em;
}

a {
	color: 'steelblue';
}

.header {
	height   : 1px;
	position : relative;
	top      : -20px;
	color    : black;
	font-size: 15px;
	width    : 750px;
	overflow : visible;
	z-index  : -1;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}

.header a {
	opacity        : 0.5;
	text-decoration: none;
}

.header a:hover {
	opacity: 1;
}

.header img {
	width      : 16px;
	position   : relative;
	top        : 2px;
	margin-left: 5px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family  : 'Roboto', sans-serif;
	margin-top   : 1.5em;
	margin-bottom: 1.5em;
}

h1 {
	font-weight: 500;
	/*letter-spacing: -2px;*/
	font-size  : 34px;
}

h2,
h3,
h4,
h5 {
	font-size: 22px;
}

:not(pre) > code {
	background   : #ddd;
	padding      : 0.05em 0.2em;
	border-radius: 6px;
}

strong {
	font-weight: bold;
}
/* Minimal CSS */
