// Responsive grid
$neat-grid: (
  columns: 12,
  gutter: 20px,
);

$neat-grid-mobile: (
  columns: 4,
  gutter: 20px,
  media: 300px,
);

$neat-grid-tablet: (
  columns: 8,
  gutter: 20px,
  media: 720px,
);

$neat-grid-desktop: (
  columns: 12,
  gutter: 20px,
  media: 1024px,
);

$neat-grid-desktop-large: (
  columns: 12,
  gutter: 40px,
  media: 1200px,
);



// Typography
$base-font-size: 16px;
$golden: 1.618;
$type-scale: 1.25; // major third
$type-of-scale: $golden;

$sans_serif: "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Old Standard TT", "Times New Roman", serif;



// Colours
$white: #ffffff;
$grey-lightest: #fefefe;
$grey-lighter: #eeeeee;
$grey-light: #cccccc;
$grey: #999999;
$grey-dark: #777777;
$grey-darker: #555555;
$grey-darkest: #333333;
$black: #000000;
