
body{
    background: $white;
    color: $text-color;
    font-family: $font-family-sans-serif;
    padding: 0;
    margin: 0;
}





.header,
.body,
.footer {
  @include span-columns(12);
}

/* HEADER */
.header {

    background: $gray-lighter;
    padding-bottom: 20px;

    .nav.top-bar {

        .site-identity {
            @include span-columns(10 of 12);
        }

        .site-nav-menu {
            @include span-columns(2 of 12);
            @include omega();
        }

    }

    .site-identity .site-name {
        display: block;
        float: left;
        width: auto;
        height: rem(100px);
        margin: 20px 0 0 0;
        padding: em(46px) 0 0 rem(120px);
        font-size: 1.5rem;
        background-image: url(../gfx/monkeycycle-logo-100x100.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        font-family: $font-family-sans-serif-heavy;
        font-size: $font-size-h4;
    }

    .site-nav-menu {
        display: block;
        float: left;
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0;
        list-style-type: none;
    }

    .site-nav-menu li {
        display: block;
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .site-nav-menu li a {
        display: block;
        float: left;
        width: 90%;
        margin: 0;
        padding: rem(5px) 0 rem(5px) rem(10px);
        text-transform: uppercase;
        border-bottom: 1px solid #fff;
        font-family: $font-family-sans-serif-heavy;
        font-size: $font-size-h6;
    }

    .site-nav-menu li a:hover {
        background: $gray-dark;
        color: $white;
    }
}

/* HEADER */


/* PAGE BODY */
.page .body {
    padding-top: 40px;
    padding-bottom: 40px;
}
/* PAGE BODY */


/* FOOTER */
.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: 40em !default;
  $large-screen: 53.75em !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  display: inline-block;
  padding: $base-spacing;
  width: 100%;

  .footer-logo {
    margin-bottom: 1em;
    margin-right: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-bottom: 0;
      margin-left: 1em;
    }
  }

  ul li {
    list-style: none;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        float: left;
        font-size: 1em;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

/* FOOTER */


/* PROJECT */
.project {
    @include span-columns(12);


    .featured-image {

      @include span-columns(7 of 12);


      @include media($small-screen) {
        @include span-columns(12 of 12);
      }

      .media__image {
        width: 100%;
        height: auto;
      }

    }

    .project-details {
      @include span-columns(4 of 12);
      @include shift(1);
      @include omega();

      @include media($large-screen) {
         @include span-columns(12 of 12);
      }

    }

}




.featured-image {
  @include span-columns(12 of 12);

  .media__image {
    width: 100%;
    height: auto;
  }

}


.project-details {
    padding-left: 60px;
    padding-top: 20px;
    border-left: 1px solid $gray-lighter;
}

.media.image.large {
    background: $gray-light;
    text-align: center;
}

.media.media__image.aspect_16x9 {
    width: 100%;
}





.module {
  display: block;
  float: left;
  width: 100%;
}
